<div class="community_post pb-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card text-dark" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <div class="text-left">
            <h5 class="fw-bold mb-4">Forgot your password?</h5>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <div class="form-group">
                <%= f.label :email, class: "form-label" %>
                <%= f.email_field :email, class: "form-control "+is_errors(:email).to_s, autocomplete: "email" %>
                <p class="text-danger"><%= error_message :email %></p>
              </div>
              <p class="small pb-lg-2">
                Didn't receive
                <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                  <%= link_to "confirmation instructions", new_account_confirmation_path(resource_name) %>
                <% end %>
                ?
              </p>
              <div class="form-group">
                <%= f.submit "Reset password", class: "btn btn-login" %>
              </div>
            <% end %>
            <p class="small">Already a Redditor?
              <%- if controller_name != 'sessions' %>
                <%= link_to "Log in", new_account_session_path %>
              <% end %>
            </p>
            <p class="small">New to Reddit?
              <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                <%= link_to "Sign up", new_account_registration_path %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
