<div class="column is-8">
  <script src="https://kit.fontawesome.com/769209a579.js" crossorigin="anonymous"></script>
  <h3 class="title is-5 has-text-grey-light">Deleted Discussions</h3>
  <div class="discussions">
    <% @discussions.only_deleted.each do |discussion| %>
      <div class="columns bb-not-last pv10">
        <div class="column is-1">
          <%= gravatar_image_tag(discussion.user.email, class:'border-radius-50', size: 48, alt: discussion.user.username) %>
        </div>
        <%# <% if has_role?(:admin) %>
        <div class="column is-8">
          <%= link_to discussion do %>
            <h3 class="title is-5"><%= discussion.title.truncate(25) %></h3>
          <% end %>
          <div class="content">
            <%= discussion.contents.to_plain_text %>
            <p><em><small>Posted <%= time_ago_in_words(discussion.created_at) %> ago in
                  <% if discussion.channel %>
                    <%= link_to discussion.channel.channel, discussion.channel %>
                  <% end %>
                  by <%= discussion.user.username %><br />
                </small>
              </em>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
