<head>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
  $(function(){
    console.log("like");
    $(".discussion-like").on("click", function(){
        var discussion_id = $(this).data("id");
        $.ajax({
            url: "/discussion/like/"+discussion_id,
            method: "GET"
        }).done(function(response){
            console.log(response);
        })
   })
 });
 </script>
</head>
<%# used bulma framework %>
<div class="column is-8">
  <script src="https://kit.fontawesome.com/769209a579.js" crossorigin="anonymous"></script>
  <h3 class="title is-5 has-text-grey-light">Latest Discussions</h3>
  <div class="discussions">
    <% @discussions.each do |discussion| %>
      <div class="columns bb-not-last pv10">
        <div class="column is-1">
          <%= gravatar_image_tag(discussion.user.email, class:'border-radius-50', size: 48, alt: discussion.user.username) %>
        </div>


        <div class="column is-8">
          <%= link_to discussion do %>
            <h3 class="title is-5"><%= discussion.title %></h3>
          <% end %>
          <div class="content">
            <%= truncate(strip_markdown(discussion.content), length: 140) %>
            <p><em><small>Posted <%= time_ago_in_words(discussion.created_at) %> ago in
              <% if discussion.channel %>
                <%= link_to discussion.channel.channel, discussion.channel %>
              <% end %>
              by <%= discussion.user.username %><br />
              </small>
              </em>
            </p>
          </div>
        </div>

        <div class="post-actions">
          <i class = "fa fa-heart like-<%= discussion.id %> <%= 'active' if discussion_liked_by_user?(discussion.id) %>fa-2x discussion-like" data-id= "<%= discussion.id %>"></i>
          </div>
          <p><strong id = "discussion-<%= discussion.id %>-likes"><%= discussion.total_likes_count %> likes</strong></p>

          <%# TODO :Author level check %>

        <div class="column has-text-right">
          <% if discussion_author(discussion) || has_role?(:admin) %>
           <%= link_to 'Edit', edit_discussion_path(discussion), class:'button' %>
          <% end %>
          <% if(has_role?(:admin) || (discussion_author(discussion) && discussion.total_likes_count == 0)) %>
           <%= link_to 'Delete', discussion, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>
