<% comments.each do |comment| %>
 <div class = "comment" >
  <strong><%= link_to comment.account.full_name, profile_path(comment.account.username), class: "text-dark" %></strong>
  <%= comment.message %>
  <div class = "fl">
  <p class = "text-muted m-l-30"><%= time_ago_in_words comment.created_at %> ago </p>
   <a href = "#" class="comment-form-display">Reply</a>
  <div class = "comment-form">
     <%= render partial: "comments/form", locals: {post: comment.post, parent: comment}%>
  </div>  
   <% if comment.replies.any? %>
     <% comment.replies.each do |reply| %> 
      <div class = "sub-comment"><%= render partial: 'comments/reply', locals: { reply: reply } %></div>
     <% end %>
   <% end %>
 </div> 
<% end %> 

<script>
  document.querySelectorAll('.comment-form-display').forEach((el) => {
    el.addEventListener('click', (ev) => {
     console.log(":hi");
     ev.preventDefault();
     el.nextElementSibling.style = 'display: block;'
    })
  })
</script>