<div class="row">
  <div class="col-sm-6">
    <%= form_for [@community, @post] do |form| %>
      <% unless params[:action] == 'edit' %>
      <div class="form-group">
        <%= label_tag :Community %>
        <%= form.select :community_id, @my_communities.collect {|option| [option.name, option.id]}, selected: params[:community], class: "form-control" %>
      </div>
      <% end %>
      <div class="form-group">
        <%= label_tag :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :body %>
        <%= form.rich_text_area :body, class: "textarea" %>
      </div>
        <%= form.submit "Publish", class: "btn btn-primary" %>
        <%= button_to "Save as draft", draft_path(post: @post), :method => "get" %>
    <% end%>
  </div>
</div>
