    <%= form_for [@community, @post] do |form| %>
  <div class="row">
    <div class="col-sm-12">
      <div class="card rounded mb-3">
        
          <div class="form-group">
            <%= label_tag :Community %>
            <%= form.select :community_id, @my_communities.collect {|option| [option.name, option.id]}, selected: params[:community_id] , class: "form-select" %>
          </div>
        
      </div>
    </div>
  </div>
  <div class="card rounded mb-3">
    <%= render partial: "posts/new_post_tab" %>
    <div class="tab-content">
      <div id="posts_form" class="tab-pane fade-in infinity active">
        <%= render partial: "post_form" %>
      </div>
      <div id="images_form" class="tab-pane fade infinity">
        <%= render partial: "images_form" %>
      </div>
      <div id="link_form" class="tab-pane fade infinity">
        <%= render partial: "link_form" %>
      </div>
      <div id="poll_form" class="tab-pane fade infinity">
        <%= render partial: "post_form" %>
      </div>
      <div id="talk_form" class="tab-pane fade infinity">
        <%= render partial: "post_form" %>
      </div>
     <div class="float-right">
        <% unless params[:action] == 'edit' %>
          <div class="join-btn  create-post-btn mb-4">
            <%= form.submit "Save as draft", class: "text-white" %>
          </div>
        <% end %>
        <div class="join-btn create-post-btn mb-4">
          <%= form.submit "Publish", class: "text-white" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end%>
