<div class="row">
  <div class="col-sm-6">
    <%= form_for [@community, @post] do |form| %>
      <% unless params[:action] == 'edit' %>
        <div class="form-group">
          <%= label_tag :Community %>
          <%= form.select :community_id, @my_communities.collect {|option| [option.name, option.id]}, selected: params[:community_name], class: "form-control" %>
        </div>
      <% end %>
      <div class="form-group">
        <%= label_tag :title %>
        <%= form.text_field :title, class: "form-control", maxlength: 20%>
      </div>
      <div class="form-group">
        <%= label_tag :body %>
        <%= form.rich_text_area :body, class: "textarea" %><br>
        <h6>Select the images</h6>
        <%= form.file_field :images, multiple: true, :class=>"form-control", :placeholder=>"Upload" %>
      </div>
      <h6>Select the type of post</h6>
      <div class="d-inline m-4 pr-1">
        <div class="d-inline ml-2">
          <%= form.check_box :oc %>
          <%= form.label 'OC' %>
        </div>
      </div>
      <div class="d-inline m-4 pr-1">
        <div class="d-inline ml-2">
          <%= form.check_box :spoiler  %>
          <%= form.label 'Spoiler' %>
        </div>
      </div>
      <div class="d-inline m-4 pr-1">
        <div class="d-inline ml-2">
          <%= form.check_box :nsfw %>
          <%= form.label 'NSFW' %>
        </div>
      </div>
      <br>
      <%= form.submit "Publish", class: "btn btn-primary" %> 
      <%= button_to "Save as draft", draft_path(post: @post), :method => "get" , class: "btn btn-primary" %>
    <% end%>
  </div>
</div>
