    <%= form_for [@community, @post] do |form| %>
   <% if @post.is_drafted or params[:action] != 'edit'  %>
    <div class="row">
      <div class="p-0 col-sm-12">
        <div class="card rounded mb-3">
          <div class="form-group">
            <%= label_tag :Community %>
            <%= form.select :community_id, @my_communities.collect {|option| [option.name, option.id]},{prompt: "Select Community" ,selected: selected_community(@my_communities.pluck(:id))}, class: style_error_class(@post, :community_id, "form-control") %>
            <p class="text-danger"><%= error_msg(@post, :community_id)  %></p>
          </div>
        </div>
      </div>
    <% else %>
     <%= form.hidden_field :community_id %>
    <% end %>

    <div class="card rounded mb-3">
      <%= render partial: "posts/new_post_tab" %>
      <div class="row">
        <div class="col-sm-12">
          <div class="create-post m-3">
            <div class="form-group">
              <%= form.text_field :title, class: style_error_class(@post, :title, "form-control"), placeholder: :title, maxlength: 20%>
              <p class="text-danger"><%= error_msg(@post, :title)  %></p>
            </div>
          </div>
          <div class="create-post m-3">
            <div class="form-group">
              <%= form.rich_text_area :body, class: style_error_class(@post, :body, "textarea"), placeholder: "Enter some Text" %>
              <p class="text-danger"><%= error_msg(@post, :body)  %></p>
              <%= form.file_field :images, multiple: true, class: style_error_class(@post, :images, "form-control"), :placeholder=>"" %>
              <p class="text-danger"><%= error_msg(@post, :images)  %></p>
            </div>
          </div>
          <ul class="ml-4 mr-4 pb-3 border-bottom">
            <li class="warning-nav-link" id="oc_warning"><i class='fa-solid fa-plus mr-1'></i>
              <%= form.check_box :oc, class: "d-none btn-check", id: "check", autocomplete: "off" %>
              OC
            </li>
            <li class="warning-nav-link" id="spoiler_warning"><i class='fa-solid fa-plus mr-1'></i>
              <%= form.check_box :spoiler, class: "d-none btn-check", id:"check", autocomplete: "off" %>
              Spoiler
            </li>
            <li class="warning-nav-link" id="nsfw_warning"><i class='fa-solid fa-plus mr-1'></i>
              <%= form.check_box :nsfw, class: "d-none btn-check", id:"check", autocomplete: "off" %>
              NSFW
            </li>
            <li class="warning-nav-link text-disabled" id="nsfw_warning"><i class='fa-solid fa-plus mr-1'></i>
              Flair
            </li>
          </ul>
          <div class="float-right">
            <div class="join-btn  create-post-btn mb-4">
                <% if params[:action] == 'edit'  and  @post.is_drafted %>
                <%=  form_submit_tag form, "Update draft" %>
              <% elsif params[:action] == 'edit' %>
                <%=  form_submit_tag form,"Cancel" %>
              <% else %>
                <%=  form_submit_tag form,"Save as draft" %>
              <% end %>
            </div>
            <div class="join-btn create-post-btn mb-4">
              <%= form_submit_tag form, "Publish"  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end%>