<% posts.each do |post| %>
  <% unless post.is_drafted %>
    <div class="card post-card mb-3 shadow">
      <div class="row m-0">
        <div class="col-1 m-0 vote-col text-center">
          <div id="vote-actions-<%= post.id %>" class="vote" data-id="<%= post.id %>">
            <div class="fa fa-arrow-up upvote <%= is_upvoted post %>"></div>
            <span class="font-weight-bold score"><%= post.score %></span>
            <div class="fa fa-arrow-down downvote <%= is_downvoted post %>"></div>
          </div>
        </div>
        <div class="col-11">
          <div class="row bg-white">
            <div class="col-10">
              <div class="d-flex post-list-head mt-2">
                <div class="post-list-profile-img mr-1">
                  <%= image_tag 'rediit-logo.png' %>
                </div>
                <strong><%= link_to "r/"+post.community.name.capitalize, community_path(post.community), class: "text-dark" %>
                  . </strong>
                <p class="ml-1 text-muted">Posted by
                  <%= link_to "u/"+post.account.username.capitalize, profile_path(post.account.username), class: "text-muted" %>
                  <%= time_ago_in_words post.created_at %> ago</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 d-flex post-title">
              <h5><%= link_to post.title, community_post_path(post.community_id, post), class: "text-dark" %></h5>
              <p class="flair-badge">Flair</p>
              <% if post.oc %>
                <p class="flair-badge bg-success">OC</p>
              <% end %>
              <% if post.spoiler %>
                <p class="flair-badge bg-warning">Spoiler</p>
              <% end %>
              <% if post.nsfw %>
                <p class="flair-badge bg-danger">NSFW</p>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="list-post-img">
              <% if post.images.attached? %>
                <%# <%= image_tag post.images[0] %>
                <%= image_tag 'profile-img.jpg' %>
              <% else %>
                <p class="col-12"><%= post.body.to_plain_text.truncate(30) %></p>
              <% end %>
            </div>
          </div>
          <div class="row mt-1 mb-1">
            <div class="col-12 d-grid">
              <%= link_to community_post_path(post.community_id, post), class: "list-post-tab" do %>
                <i class="fa fa-comment mt-1"></i> <%= post.comments.size %> Comments
              <% end %>
              <%= link_to "#", class: "list-post-tab" do %>
                <i class="fa fa-share mt-1"></i> Share
              <% end %>
              <%= link_to "#", class: "list-post-tab saved", remote: true, id: "save-actions-"+post.id.to_s, "data-id"=>post.id do %>
                  <div class="fa <%= is_saved post %> save ">
                  <%= save_or_unsave post %>
                </div>
              <% end %>
              <%= link_to "#", class: "list-post-tab" do %>
                <i class="fa fa-flag-o mt-1"></i> Report
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= render partial: "layouts/backtotop" %>
