<%= form_for [@community, @post] do |form| %>
  <%= render 'post_column_community_title' %>
  <div class="create-post m-3">
    <div class="form-group">
      <%= form.text_area :body, class: "form-control", placeholder: "Text(optional)" %>
    </div>
  </div>
      <%= render 'content_warning_fields' %>
  <div>
    <div class="float-right">
      <% unless params[:action] == 'edit' %>
        <div class="join-btn  create-post-btn mb-4">
          <%= form.submit "Save as draft", class: "text-white" %>
        </div>
      <% end %>
        <div class="join-btn create-post-btn mb-4">
          <%= form.submit "Publish", class: "text-white" %>
        </div>
    </div>
  </div>
</div>
<% end %>