<%if account_signed_in? && answered(post.id)%>
<% poll_total_count=get_poll_answer_values(post.id)%>
<div class="card">
<div class="card-header">
<%= poll_total_count[0] %> Votes
  </div>
  <div class="card-body">
    <p class="<%= poll_option_design(post.option1) %>"><b><%= poll_option_count(post.option1)%></b><%="  "%><%= post.option1%></p>
    <p class="<%= poll_option_design(post.option2) %>"><b><%= poll_option_count(post.option2)%></b><%="  "%><%= post.option2%></p>
    <p class="<%= poll_option_design(post.option3) %>"><b><%= poll_option_count(post.option3)%></b><%="  "%><%= post.option3%></p>
    <p class="<%= poll_option_design(post.option4) %>"><b><%= poll_option_count(post.option4)%></b><%="  "%><%= post.option4%></p>
  </div>
</div>
<%else%>
<%= form_with url: poll_answers_path,local: :true, method: :post do |form| %>
  <div class="poll-form-css">
    <%= form.hidden_field :community_id,:value => community_id %>
    <%= form.hidden_field :post_id, :value => post.id %>
    <%= form.radio_button :poll_answer, post.option1 %>
    <%= label_tag "#{post.option1}", post.option1 %><br>
    <%= form.radio_button :poll_answer, post.option2 %>
    <%= label_tag "#{post.option2}", post.option2 %><br>
    <%= form.radio_button :poll_answer, post.option3 %>
    <%= label_tag "#{post.option3}", post.option3 %><br>
    <%= form.radio_button :poll_answer, post.option4 %>
    <%= label_tag "#{post.option4}", post.option4 %><br>
    <div class="join-btn create-post-btn mb-4">
      <%= form.submit "Vote", class: "text-white" %>
    </div>
    </div>
<%end%>
<%end%>


