<div class="card mb-3 ">
  <div class="card-body">
    <div class = "show-content">
      <div class = "like-unlike">
        <div id="vote-actions-<%= @post.id %>" class="vote" data-id="<%= @post.id %>">
          <div class="fa fa-arrow-up upvote <%= is_upvoted @post %>"></div>
          <span class="font-weight-bold score"><%= @post.score %></span>
          <div class="fa fa-arrow-down downvote <%= is_downvoted @post %>"></div>
        </div>
      </div>
       <% if @post.community.profile_image.attached? %>
        <%= link_to community_path(@post.community) do %>
          <%= image_tag(@post.community.profile_image, class: "community-icon") %>
        <% end %>
      <% else %>
        <%= link_to community_path(@post.community) do %>
          <%= image_tag("profile-pic.png" ,class: "community-icon") %>
        <% end %>
      <% end %>
      <div class = "like-unlike">
        <p><small>r/<%= link_to @post.community.name.downcase, community_path(@post.community) %> Posted by u/<%= link_to @post.account.username, profile_path(@post.account.username) %> <%= time_ago_in_words @post.created_at %> ago</small></p> 
        <h3 class="card-title"><%= @post.title %></h3>
      </div>
    </div>      
    <% if @post.nsfw?  %>
      <%= render 'sensitive_post_display' %>
    <% elsif @post.oc? %>
      <div class="sensitive">
        <h5>OC Thread</h5>
      </div>
      <%= render 'post_display' %>
    <% elsif @post.spoiler? %>
      <div class="sensitiveS">
        <h5>Spoiler Thread</h5>
      </div>
      <%= render 'post_display' %>
    <% else %>
      <%= render 'post_display' %>
    <% end %>  
    <%= render "reactions" %>
    <div id = "comment-hide">
      <% if !(@post.closed?) %>
        <% if signed_in? %>
          <div class = "comment-field">
            <h6>Comment as <%= current_account.username %></h6>
            <%= render partial: "comments/form", locals:{ post: @post, parent: nil} %>
          </div> 
        <% else %>
          <div class = "row alert">
            <h3> Log in or sign up to leave a comment </h3>
            <div class = "join-btn"> <%= link_to "Log In", new_account_session_path %></div>
            <div class = "join-btn"><%= link_to "Sign Up", new_account_registration_path %></div> 
          </div>  
        <% end %> 
      <% end %>
    </div>  
    <div id = "disclaimer">
      <p>The Discussion is closed.So no one cannot add comments or replies to this Discussion </p>
    </div>
    <% if (@post.closed?) %>
      <div class="alert">
        <p> The discussion is closed by owner.So no one cannot add comments or replies in the discussion.Thank You! </p>
      </div>
    <% end %>
    <div class = "commentssection">
      <div id="post-comments">
        <h3>Comments</h3>  
        <%= render partial: "posts/comments", locals: { comments: @post.comments.where(parent_id: nil).order(id: :desc) } %>
      </div>
      <div class = "sub-comment">
        <%= render partial: "posts/comments",  locals: { comments: @post.comments.where(parent_id: :comment_id).where(post_id: @post.id).order(id: :desc)} %>
      </div>  
    </div>
  </div>
</div>  