<%= form_for [@community, @post] do |form| %>
    <div class="row">
      <div class="col-sm-12">
        <div class="card rounded mb-3">
          <div class="form-group">
            <%= label_tag :Community %>
            <%= form.select :community_id, @my_communities.collect {|option| [option.name, option.id]}, prompt: "Select Community", selected: selected_community(@my_communities.pluck(:id)) , class: style_error_class(@post, :community_id, "form-control") %>
            <p class="text-danger"><%= error_msg(@post, :community_id)  %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card rounded mb-3">
      <div class="create-post m-3">
        <div class="form-group">
        <%= form.text_field :title, class: style_error_class(@post, :title, "form-control"), placeholder: :title, maxlength: 300%>
        <p class="text-danger"><%= error_msg(@post, :title)  %></p>
        </div>
      </div>
<%end%>    