<div class="row">
  <div class="col-1 text-center">
    <div id="vote-actions-<%= @post.id %>" class="vote" data-id="<%= @post.id %>">
      <div class="fa fa-arrow-up upvote <%= is_upvoted @post %>"></div>
      <span class="font-weight-bold score"><%= @post.score %></span>
      <div class="fa fa-arrow-down downvote <%= is_downvoted @post %>"></div>
    </div>
  </div>
  <div class="col-11">
    <h2><%= @post.title %></h2>

    <div style="word-wrap: break-word;">
      <%= @post.body  %>
    </div>
    <b>
     <div class="row">
      <div class="btn btn-secondary a-btn-slide-text">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        <%= link_to "Edit", edit_post_path %>          
      </div>
      <div class="btn btn-secondary a-btn-slide-text">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <%= link_to "Destroy", post_path(@post),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>          
      </div>
      <% if ((@post.account_id == current_account.id) and !(@post.closed?)) or !(@post.closed?) %>
      <div class="btn btn-secondary a-btn-slide-text">
        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>        
        <div id = "close-link">
          <li><%= link_to "Close Discussion", close_community_post_path(@post.community), method: :patch %>   
        </div>  
      <% end %>
      </div>
	</div>         
      <div id = "comment-hide">
       <% if !(@post.closed?) %>
       <h5>Leave a comment</h5>
       <%= render partial: "comments/form", locals:{ post: @post, parent: nil} %>
       <% end %>
      </div>
     
     <div id = "disclaimer">
       <p>The Discussion is closed.So no one cannot add comments or replies to this Discussion </p>
     </div>

       <% if (@post.closed?) %>
       <div class="card commentandreplysection"">
        <p> The discussion is closed by owner.So no one cannot add comments or replies in the discussion.Thank You! </p>
       </div>
      <% end %>
     </div> 
    <hr>
    <div class = "commentandreplysection">
     <div id="post-comments">
       <h3>Comments</h3><br>
       <%= render partial: "posts/comments", locals: { comments: @post.comments.where(parent_id: nil).order(id: :desc) } %>
     </div>
       <div class = "sub-comment">
        <%= render partial: "posts/comments",  locals: { comments: @post.comments.where(parent_id: :comment_id).where(post_id: @post.id).order(id: :desc)} %>
       </div>
     </div>
  </div>
</div>