<div class="row">
  <div class="col-1 text-center">
    <div id="vote-actions-<%= @post.id %>" class="vote" data-id="<%= @post.id %>">
      <div class="fa fa-arrow-up upvote <%= is_upvoted @post %>"></div>
      <span class="font-weight-bold score"><%= @post.score %></span>
      <div class="fa fa-arrow-down downvote <%= is_downvoted @post %>"></div>
    </div>
  </div>
  <div class="col-9" >
    <div class="card" class="card-textarea">
      <% if @post.nsfw?  %>
        <%= render 'sensitive_post_display' %>
      <% elsif @post.oc? %>
        <div class="card-body" class="card-textarea">
          <h2><%= @post.title %></h2>
          <div class="sensitive">
            <h5>OC Thread</h5>
          </div>
          <%= render 'post_display' %>
        </div>
      <% elsif @post.spoiler? %>
        <div class="card-body" class="card-textarea">
          <h2><%= @post.title %>  </h2>
          <div class="sensitiveS">
            <h5>Spoiler Thread</h5>
          </div>
          <%= render 'post_display' %>
        </div>
      <% else %>
        <div class="card-body" class="card-textarea">
          <h2><%= @post.title %></h2>
          <%= render 'post_display' %>
        </div>
      <% end %>
      <b>
        <div class="join-btn">
          <%= link_to "Edit", edit_post_path %>
        </div>
        <div class="join-btn">
          <%= link_to "Destroy", post_path(@post),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
        </div>
        <% if ((@post.account_id == current_account.id) and !(@post.closed?)) or !(@post.closed?) %>
          <div class="join-btn" id="close-link">
            <%= link_to "Close Discussion", close_post_path(@post), method: :patch %>
          </div>
        <% end %>
        <button type="button" class="join-btn" data-toggle="modal" data-target="#myModal" remote = "true">
          Report
       </button>
      </div>
	</div>  
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Report Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "reports/form" %>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>
</div>
         
      <div id = "comment-hide">
        <% if !(@post.closed?) %>
          <h5>Leave a comment</h5>
          <%= render partial: "comments/form", locals:{ post: @post, parent: nil} %>
        <% end %>
      </div>
      <div id = "disclaimer">
        <p>The Discussion is closed.So no one cannot add comments or replies to this Discussion </p>
      </div>
      <% if (@post.closed?) %>
        <div class="card commentandreplysection"">
          <p> The discussion is closed by owner.So no one cannot add comments or replies in the discussion.Thank You! </p>
        </div>
      <% end %>
    </div>
  </div>
  <hr>
  <div class = "commentandreplysection">
    <div id="post-comments">
      <h3>Comments</h3>
      <br>
      <%= render partial: "posts/comments", locals: { comments: @post.comments.where(parent_id: nil).order(id: :desc) } %>
    </div>
    <div class = "sub-comment">
      <%= render partial: "posts/comments",  locals: { comments: @post.comments.where(parent_id: :comment_id).where(post_id: @post.id).order(id: :desc)} %>
    </div>
  </div>
</div>
