<div class="col-md-4 offset-md-4">  
   <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal"> Ban Users </button>
  </div>
  <div class="col-md-4 offset-md-4">  
    <div class="card">
      <div class="card-body">
        This is some text within a card body.
      </div>
    </div>
  </div> 
</div>                                                


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <div class="modal-header">
        <h5 class="modal-title">Ban a User:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <%= form_for @banneduser do |form| %> 
          <div class="form-group">
           <%# <%= label_tag :Community_id %>  
            <%= form.hidden_field :Community_id, :value => params[:id], class: "form-control" %> 
           </div> 

          <div class="form-group">
           <%= label_tag :Enter_User_Name%>
            <%= form.text_field :username, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label_tag :Reason_For_Ban %> 
          </div>
          <div> 
            <%= form.select :reason, ["Spam","Personal Confidential Information","Threatening Harassing or inciting violence","Others"] %>
          </div>
          <div class="form-group">
           <%= label_tag :Note_to_include_in_ban_message %>
            <%= form.text_area :explanation, placeholder: "Reason they were Banned", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.submit "Ban user", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Ban user</button>
      </div>
    </div>
  </div>
</div>  

