<div class="row ">
  <div class="col-3">
    <div class="list-group ml-4" id="list-tab" role="tablist">
      <li class="list-group-item text-white bg-secondary "><i class="fa fa-cog mr-2"></i>User Management</li>
      <%= link_to mod_path(mod: "Ban_users")  do %>
        <li class="list-group-item border-left border-danger">Ban Users</li>
      <% end %>
      <%= link_to  edit_community_path(community: @community.id) do %>
        <li class="list-group-item border-left border-danger">Edit Community</li>
      <% end %>
      <li class="list-group-item text-white bg-secondary "><i class="fa fa-envelope-open-o mr-2"></i>Mod Help Center</li>
      <%= link_to ""  do %>
        <li class="list-group-item border-left border-danger">Help Center</li>
      <% end %>
    </div>
  </div>
  <div class="col-5">
    <%= render partial: "communities/banned_users_list"%>
  </div>
  <div class="col-3">
    <%= render params[:mod].downcase if params[:mod] %>
  </div>
</div>
