  <% if @community.cover_image.attached? %>
  <%= image_tag(@community.cover_image, class: "cover-image") %>
<% else %>
  <%= image_tag("Cover-Image.jpg" ,class: "cover-image") %>
<% end %>
  <div class="row">
    <div class="col-sm-1 mr-3">
      <% if @community.profile_image.attached? %>
        <%= image_tag(@community.profile_image, class: "profile-pic") %>
      <% else %>
        <%= link_to "#" do %>
          <%= image_tag("profile-pic.png" ,class: "profile-pic") %>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-10">
      <div class = "d-flex">
        <span class = "ml-4">
          <h3>/r/<%= @community.name.downcase %> : <%= @community.category.downcase %></h3>
        </span>
        <div class="ml-3 pl-2">
          <% unless @community.owner_id == current_account.id %>
            <% if @is_subscribed %>
              <%= render partial: "communities/unsubscribe" %>
            <% else %>
              <%= render partial: "communities/subscribe", locals: { community_id: @community.id } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="community-nav-tab">
    <ul class="nav">
      <li class="community-nav-link active"><a data-toggle="tab" href="#post">Posts</a></li>
      <li class="community-nav-link"><a data-toggle="tab" href="#menu1">Menu 1</a></li>
      <li class="community-nav-link"><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    </ul>
  </div>
  <div class="community_post">
    <div class="row">
      <div class="col-sm-8">
        <% if flash[:notice] %>
          <div id="notice">
            <div class="alert alert-success alert-dismissible fade show" role="alert"><%= flash[:notice] %><button
              type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            </div>
          </div>
        <% end %>
        <%= render partial: "posts/create_post", locals: { community: @community } %>
        <div class="tab-content">
          <div id="post" class="tab-pane fade-in active">
            <%= render partial: "posts/list", locals: { posts: @posts } %>
          </div>
          <div id="menu1" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>Some content in menu 1.</p>
          </div>
          <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Some content in menu 2.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card p-2 bg-gradient">
          <p class="h6 pt-2 text-light">About this community</p>
          <% if @community.owner_id == current_account.id %>
            <%= link_to "Mod Tools", mod_path, class: "btn btn-primary"%>
          <% end %>
        </div>
        <div class="card p-3">
          <p class=""><%= @community.summary %></p>
          <p class="text-muted"><i class='mr-2 fa fa-birthday-cake'></i>Created
            <%= @community.created_at.strftime("%b %d, %Y") %></p>
          <div class="member">
            <p><%= pluralize @subscriber_count, "member" %></p>
          </div>
          <%= link_to "Create post", new_community_post_path(community: @community.id), :class=>"join-btn create-post-btn text-white" %>
        </div>
        <div class="card mt-3 p-2 bg-gradient">
          <p class="h6 pt-2 text-light">r/<%= @community.name.downcase %> Rules</p>
        </div>
        <div class="card p-3">
          <%= simple_format @community.rules %>
        </div>
      </div>
    </div>
  </div>
