<% if @saved_posts.exists? %>
 <% @saved_posts.each do |saved_post| %>
  <div class="card p-3 mb-3">
    <div class="row">
      <div class="col-6">
        <h4 class= "mb-1"><%= link_to saved_post.post.title, community_post_path(saved_post.post.community,saved_post.post) %></h4>
        <p><small><%= link_to saved_post.post.community.name, community_path(saved_post.post.community) %> Posted by <%= link_to saved_post.account.username, profile_path(saved_post.account.username) %> <%= time_ago_in_words saved_post.created_at %> ago</small></p>
        <p><%= saved_post.post.body.to_plain_text.truncate(30) %></p>
        <%= link_to "#", class: "list-post-tab saved", remote: true, id: "save-actions-"+saved_post.post_id.to_s, "data-id"=>saved_post.post_id do %>
          <div class="fa <%= is_saved saved_post.post %> save ">
            <%= save_or_unsave saved_post.post %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
 <% end %>
<% else %>
 <h4 class = "text-secondary nil-message" ><%= t("profile.saved") %></h4> 
<% end %>