<div class="card mt-auto" style="height: 58rem;">
  <% if @profile.profile_image.attached? %>
    <%= image_tag(@profile.profile_image, class: "profile-pic") %>
  <% else %>
    <%= image_tag("rediit-logo.png",class: "profile-pic") %>
  <% end %>

  <%= image_tag("reddit-png.jpg",class: "rounded bg-danger") %>
  <center class="h4"><%= @profile.full_name %></center>
  <div class="contents ml-3">

    <p><b>Username:</b> <%= @profile.username %></p>
    <p><b>Bio: </b>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p><b>Cake day:</b> <%= @profile.created_at.strftime("%d/%m/%Y") %></p>
    <center><b>Karma:</b> <%= @profile.karma %> <span class="fa fa-star text-warning"></span> </center>
  </div>
  <%= link_to "Create post", new_community_post_path(community_id: Community.first.id), class: "join-btn create-post-btn text-white" %>
</div>
