<div class="col-sm-10">
  <%= render partial: "public/profiletab"%>
  <div class="tab-content">
    <div id="my_posts" class="tab-pane fade-in active">
      <%= render partial: "posts/list", locals: { posts: @posts } %>
    </div>
    <div id="my_comments" class="tab-pane fade">
      <%= render partial: "posts/list", locals: { posts: @posts } %>
    </div>
    <div id="my_subscriber" class="tab-pane fade">
      <%= render partial: "public/mysubscribers" %>
    </div>
    <div id="my_community" class="tab-pane fade">
      <%= render partial: "public/mycomments"%>
    </div>
    <div id="my_description" class="tab-pane fade">
      <%= render partial: "public/mydescription"%>
    </div>

  </div>
</div>
