<%= render partial: "public/profiletab"%>
<div class="community_post">
  <div class="row ">
    <div class="tab-content col-sm-7">
      <div id="POSTS" class="tab-pane fade-in active">
        <%= render partial: "public/tab_my_post"%>
        <div class="tab-content">
        <div id="hot_myposts" class="tab-pane fade-in infinity active">
          <%= render partial: "posts/list", locals: { posts: @hot_myposts } %>
          <div class = "infinite-scrolling">
            <%= link_to_next_page(@hot_myposts, "posts" , :remote => true, class: "text-dark") %>
          </div>
        </div>
        <div id="new_myposts" class="tab-pane fade infinity">
          <%= render partial: "posts/list", locals: { posts: @new_myposts } %>
          <div class = "infinite-scrolling">
            <%= link_to_next_page(@new_myposts, "posts" , :remote => true, class: "text-dark") %>
          </div>
        </div>
        <div id="top_myposts" class="tab-pane fade infinity">
          <%= render partial: "posts/list", locals: { posts: @top_myposts } %>
          <div class = "infinite-scrolling">
            <%= link_to_next_page(@top_myposts, "posts" , :remote => true, class: "text-dark") %>
          </div>
        </div>
      </div>
      </div>
      <div id="COMMENTS" class="tab-pane fade">
        <%= render partial: "public/mycomments", locals: { my_comments: @my_comments } %>
      </div>
      <div id="SAVED" class="tab-pane fade">
        <%= render partial: "public/mysavedpost"%>
      </div>
    </div>
    <div class="col-4 p-2 ml-5" >
      <%= render partial: "public/mydescription"%>
    </div>
  </div>

</div>
