<%= render partial: "public/profiletab"%>
<div class="community_post">
  <div class="row ">
    <div class="tab-content col-sm-8">
      <div id="POSTS" class="tab-pane fade-in active">
        <%= render partial: "public/tabcpy"%>
        <%= render partial: "posts/list", locals: { posts: @my_posts } %>
      </div>
      <div id="COMMENTS" class="tab-pane fade">
        <%= render partial: "public/mycomments", locals: { my_comments: @my_comments } %>
      </div>
      <div id="SAVED" class="tab-pane fade">
        <%= render partial: "public/mysavedpost"%>
      </div>
    </div>
    <div class="col-sm-4" >
      <%= render partial: "public/mydescription"%>
    </div>
  </div>

</div>
