<div class="col-sm-7">
  <%= render partial: "public/profiletab"%>
  <div class="tab-content">
    <div id="my_posts" class="tab-pane fade-in active">
      <%= render partial: "posts/list", locals: { posts: @posts } %>
      <div id = "infinite-scrolling">

      </div>
    </div>
    <div id="my_comments" class="tab-pane fade">
      <%# <%= render partial: "posts/list", locals: { posts: @posts } %> %>
      <div id = "infinite-scrolling">

      </div>
    </div>
    <div id="my_community" class="tab-pane fade">
      <%# <%= render partial: "public/mysubscribers" %> %>
      <div id = "infinite-scrolling">

      </div>
    </div>

    <div id="my_description" class="tab-pane fade">
      <%= render partial: "public/mydescription"%>
      <div id = "infinite-scrolling">

      </div>
    </div>
  </div>
</div>
