<style>
  span {
    padding : 0 120px 0 100px;
    }
    button {
    padding : 0 20 0 20px;
    }

  .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  }

  .dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
  }

  #myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  }

  #myInput:focus {outline: 3px solid #ddd;}

  .dropdown {
  position: relative;
  display: inline-block;
  }

  .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  }

  .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }

  .dropdown a:hover {background-color: #ddd;}

  .show {display: block;}
</style>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12  pt-1 pb-1">
        <div class="float-right m-2">
          <% if account_signed_in? %>
            <div class="dropdown show float-right">
              <a class="btn btn-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_account.username %>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to "Profile", profile_path(current_account.username), class: "dropdown-item" %>
                <%= link_to "Settings", edit_account_registration_path, class: "dropdown-item" %>
                <%= link_to "Sign Out", destroy_account_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </div>
            <span>
              <div class="karma float-left mt-2 mr-2">
                <%= current_account.karma %>
                <li class="fa fa-star text-warning"></li>
              </div>
            <% else %>
              <%= link_to "Log In", new_account_session_path, class: "btn btn-outline-primary" %>
              <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-primary" %>
            <% end %>
          </div>
        </span>

        <div class="float-left d-flex">
          <span class="h3 float-left "><%= link_to "Reddit Clone", root_path %></span>
          <div class="btn-group">
            <button type="button" class="btn-outline-white dropdown-toggle" data-toggle="dropdown">
              <span><%= link_to "Home", root_path %><span class="caret"></span></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "All Communities", communities_path %></li>
              <li><%= link_to "Top Trending", communities_path  %></li>
              <li><%= link_to "Create a Community", new_community_path  %></li>
            </ul>
          </div>
          <script>
            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function myFunction() {
              document.getElementById("myDropdown").classList.toggle("show");
            }

            function filterFunction() {
              var input, filter, ul, li, a, i;
              input = document.getElementById("myInput");
              filter = input.value.toUpperCase();
              div = document.getElementById("myDropdown");
              a = div.getElementsByTagName("a");
              for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  a[i].style.display = "";
                } else {
                  a[i].style.display = "none";
                }
              }
            }
          </script>
          <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Search Community</button><span class="caret"></span>
            <div id="myDropdown" class="dropdown-content">
              <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
              <%for community in @communities %>
                <span class="button d-flex  "><%= link_to community.name, communities_path %></span>
              <% end %>

            </div>
          </div>

        </div>
      </div>
    </nav>
