<!DOCTYPE html>
<html>
  <head>
    <title>Reddit Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <script src="https://code.jquery.com/jquery-3.5.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
     <%#= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" %>
    <%#= javascript_include_tag "https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js" %>
    <script src="path/to/select2.min.js"></script>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <%= render partial: "layouts/navbar" %>
    <%= yield %>
    <%= render partial: "layouts/flash" %>
  </body>
</html>
