<!DOCTYPE html>
<html>
  <head>
    <title>Reddit Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%#= javascript_pack_tag "select2.min" %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <%= render partial: "layouts/navbar" %>
    <%= yield %>
    <%= render partial: "layouts/flash" %>
  </body>
</html>
